/*
// Copyright (c) 2011 Frank Kohlhepp
// https://github.com/frankkohlhepp/fancy-settings
// License: LGPL v2.1
*/
.fancy {
    text-shadow: #F5F5F5 0 1px 0;
}

#sidebar {
    position: absolute;
    background-color: #EDEDED;
    background-image: linear-gradient(top, #EDEDED, #F5F5F5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left 500,
        color-stop(0, #EDEDED),
        color-stop(1, #F5F5F5)
    );
    background-image: -moz-linear-gradient(
        center top,
        #EDEDED 0%,
        #F5F5F5 100%
    );
    background-image: -o-linear-gradient(top, #EDEDED, #F5F5F5);
    width: 299px;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #C2C2C2;
    box-shadow: inset -8px 0 30px -30px black;
}

#icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 12px;
}

#sidebar h1 {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 26px;
    color: #707070;
}

#tab-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: right;
}

#tab-container .tab {
    height: 28px;
    padding-right: 25px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 12px;
    line-height: 28px;
    color: #808080;
    cursor: pointer;
}

#search-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 23px !important;
    cursor: default !important;
}

#search-container input {
    width: 130px;
}

#tab-container .tab.active, body.searching #search-container {
    background-color: #D4D4D4;
    border-color: #BFBFBF;
    color: black;
    text-shadow: #DBDBDB 0 1px 0;
    box-shadow: inset -12px 0 30px -30px black;
}

body.searching #tab-container .tab.active {
    background-color: transparent;
    border-color: transparent;
    color: #808080;
    text-shadow: inherit;
    box-shadow: none;
}

#content {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.tab-content {
    display: none;
    position: absolute;
    width: 840px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    padding-top: 15px;
}

body.searching .tab-content {
    display: none !important;
}

body.searching #search-result-container {
    display: block !important;
}

body.measuring .tab-content, body.measuring #search-result-container {
    display: block !important;
    opacity: 0;
    overflow: hidden;
}
